{% extends 'auth.html' %}

{% block main %}
<main class="d-flex flex-column gap-5" style="height: 100vh; background-color: #1b1a5f;">
	{% include 'header.html' %}
	<div class="container card p-2 text-center">
		<form class="hstack gap-5 needs-validation" novalidate>
			<div class="vstack col-6 mx-5">
				<div class="col my-3" action="{{ url_for('tasks.add_task') }}/tasks/add" method="post" id="form">
					<label for="name" class="form-label">Имя задания</label>
					<input name="name" tabindex="1" id="name" type="text" pattern="^([А-Яа-я0-9]|\w|\s){10,50}.$" class="form-control" placeholder="Маска кредитной карты..." required>
					<div class="valid-feedback">
						Удачи!
					</div>
				</div>
				<div class="col my-3">
					<label for="in" class="form-label">Входные данные</label>
					<input name="in" tabindex="2" id="in" type="text" class="form-control" pattern="^(\w|\s|,)+$" placeholder="Входящие1,Входящие2,..." required>
					<div class="valid-feedback">
						Удачи!
					</div>
				</div>
				<div class="col my-3">
					<label for="out" class="form-label">Выходные данные</label>
					<input name="out" tabindex="3" id="out" type="text" class="form-control"  pattern="^(\w|\s|,|#|{|})+$" placeholder="верныйОтвет1,верныйОтвет2,..." required>
					<div class="valid-feedback">
						Удачи!
					</div>
				</div>
				<div class="col my-3">
					<label for="validationDefaultUsername" class="form-label">Пользователь</label>
					<div class="input-group">
						<span class="input-group-text" id="inputGroupPrepend2">@</span>
						<input type="text" value="{{ current_user.name }}" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" disabled readonly required>
					</div>
				</div>
				<div class="row row-cols-2 text-start">
					{% for i in [ "Python", "JavaScript", "TypeScript", "Ruby", "C", "C++", "C#", "Java" ] %}
						<div class="col form-check">
							<input class="form-check-input" type="checkbox" name="{{ i }}" value="{{ i }}" id="{{ i }}" required>
							<label class="form-check-label" for="{{ i }}">
								{{ i }}
							</label>
							<div class="invalid-feedback">Вы должны выбрать хотя бы один.</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="vstack col-10 gap-3 mx-5">
				<div class="col my-3">
					<label for="about" class="form-label">Описание задания</label>
					<textarea name="about" tabindex="4" id="about" class="form-control" rows="14" pattern="^([А-Яа-я0-9]|\s){25,1000}.$" placeholder="Обычно, когда вы что-то покупаете, вас спрашивают, верны ли номер вашей кредитной карты,..."></textarea>
				</div>
				<div class="col my-3 align-self-end">
					<button type="submit" class="btn btn-primary" type="submit">Создать</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		window.addEventListener("load", e => {
			$('#name').val(localStorage.getItem("name"))
			$('#in').val(localStorage.getItem("inp"))
			$('#out').val(localStorage.getItem("out"))
			$('#about').val(localStorage.getItem("about"))
			console.log("Load data!")
		})

		setInterval(e => {
			if (localStorage.getItem("name") != $('#name').val()) {
				localStorage.setItem("name", $('#name').val())
				localStorage.setItem("inp", $('#in').val())
				localStorage.setItem("out", $('#out').val())
				localStorage.setItem("about", $('#about').val())
				console.log("Data save!")
			}
		}, 2000)

		(() => {
			'use strict'
			const forms = document.querySelectorAll('.needs-validation')

			Array.from(forms).forEach(form => {
				form.addEventListener('submit', event => {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}
					form.classList.add('was-validated')
				}, false)
			})
		})()
	</script>
</main>
{% endblock %}