{% extends 'base.html' %}
{% block title %}
<title>{{ response.title }}</title>
<style type="text/css" media="screen">
    #editor, #readonly {
        width: 80%;
        height: 400px;
    }
</style>
{% endblock %}
{% block content %}
<div class="hero is-link py-6 px-6">
    <div class="box my-5 py-4 mx-6 px-6">
        <div class="columns">
            <div class="column">
                <div class="select is-link">
                    <select>
                        {% for leng in lengs %}
                        <option value="{{ leng.id }}">
                            <span>{{ leng.name }}</span>
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="column">
                <div id="editor"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1>Сделать запись пользователя в session/user_req?, если его нет там но есть в куках</h1>
            </div>
            <div class="column">
                <div id="readonly"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <button id="test" class="button is-info is-dark is-outlined">Test</button>
                <button id="conf" class="button is-info is-dark is-outlined">Confirm</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.0/ace.js" integrity="sha512-j+8iIH/6m3BxfGo+7wDvzgm5/iX68sMpBrMlYnwECIgAuEtyWA2idkuFNpciSAAG0j0bkpQ+gVb0ig9J2lAnog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let editor, readonly;
        function editorSetup() {
            // https://github.com/ajaxorg/ace/tree/master/src/theme
            editor = ace.edit("editor");
            readonly = ace.edit("readonly");
    
            editor.setTheme("ace/theme/one_dark");
            editor.session.setMode("ace/mode/javascript");
            // editor.session.on('change', delta => console.log(delta.lines));
            editor.commands.addCommand({
                name: 'myTestingCommand',
                bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
                // bindKey: {win: 'Ctrl-Enter',  mac: 'Command-Enter'},
                exec: editor => {
                    test.click()
                },
                readOnly: true, // false if this command should not apply in readOnly mode
                // multiSelectAction: "forEach", optional way to control behavior with multiple cursors
                // scrollIntoView: "cursor", control how cursor is scolled into view after the command
            });
            
            readonly.setTheme("ace/theme/one_dark");
            readonly.session.setMode("ace/mode/javascript");
            readonly.setReadOnly(true);
            
            readonly.setValue("function test(param) {\n\tconsole.log('test');\n}")
            
            $('#editor').css("fontSize", '16px');
            $('#readonly').css("fontSize", '16px');
        }

        const test = $("#test"), conf = $("#conf");

        test.click(async e => {
            let data = {
                lang: $("select").val(),
                code: editor.getValue() + '\n\n' + readonly.getValue()
            };
            await fetch(document.location.origin + "/api/v1/compile/", {
                method: "POST", // *GET, POST, PUT, DELETE, etc.
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                  "Content-Type": "application/json",
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", // manual, *follow, error
                referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data), // body data type must match "Content-Type" header
            })
            .then(res => console.log(res.json()))
        });

        editorSetup();
    </script>
</div>
{% endblock %}