{% extends 'auth.html' %}
{% block main %}
	<div class="container col-xl-10 col-xxl-8 px-4 py-5">
		<div class="row align-items-center g-lg-5 py-5">
			<div class="col-lg-7 text-center text-lg-start">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Зарегистрируйся и начни изучать программирования!</h1>
				<p class="col-lg-10 fs-4">Совершенствуйте свои навыки разработки, обучаясь вместе со своими коллегами, которые постоянно бросают вызов и развивают вашу практику кодирования.</p>
			</div>
			<div class="col-md-10 mx-auto col-lg-5">
				<form action="/sign" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
					<div class="form-floating mb-3">
						<input type="text" name="login" class="form-control" id="floatingInput" placeholder="original.login">
						<label for="floatingInput">Логин</label>
					</div>
					<div class="form-floating mb-3">
						<input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
						<label for="floatingInput">Почта</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
						<label for="floatingPassword">Пароль</label>
					</div>
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="setcookies" value="remember-me"> Запомнить меня
						</label>
					</div>
					<div class="form-floating text-center mb-3">
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									{% if category == "info" %}
										<span class="text-center text-primary-emphasis">{{ message }}</span>
									{% else %}
										<span class="text-center text-danger">{{ message }}</span>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					<button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
					<hr class="my-4">
					<small class="text-body-secondary">Нажимая на "Зарегистрироваться",<br>вы соглашаетесь Политикой Конфиденциальности.</small>
				</form>
			</div>
		</div>
	</div>
{% endblock %}