<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }} - {{ data.app_name }}</title>
</head>
<body>
    <div>
        <h1>{{ data.app_name }}</h1>
        <h2>{{ data.body }} <a style="text-decoration: none; padding: 5px 10px; background: #00a566; color: whitesmoke; border-radius: 5px;" href="{{ data.link }}" target="_blank" rel="noopener noreferrer">confirm it!</a></h2>
    </div>
</body>
</html>