{% extends 'auth.html' %}
{% block main %}
	<main class="d-flex flex-column gap-0 row-gap-5" style="height: 100vh; background-color: #1b1a5f;">
		{% include 'header.html' %}
		<div class="card text-bg-dark border-primary mx-auto my-5" style="width: 35vh;">
			<img
				class="card-img-top m-3"
				style="max-width: 90%; border-radius: 60%; border-bottom-right-radius: 7%; border-top-left-radius: 7%;"
				src="{{ (response.user.email or current_user.email) | gravatar(size=350, rating='x') }}" 
				alt="">
			<div class="card-body">
				<h5 class="card-title text-center text-bg-success rounded-pill p-2">
					{{ response.user.name or current_user.name }}
				</h5>
				<!-- <p class="card-text has-text-right"> -->
					<!-- in future about user -->
				<!-- </p> -->
			</div>
			<ul class="list-group list-group-flush list-group-item-dark">
				<li class="list-group-item">
					<span>Почта: {{ current_user.email }}</span>
				</li>
				<li class="list-group-item">
					<span>Дата регистрации: {{ current_user.date.strftime('%Y-%b-%d') }}</span><!-- %H:%M:%S -->
				</li>
				<li class="list-group-item text-end">
					<span>Уровень: {{ current_user.level }}</span>
					<br><span>Решено задач: {{ current_user.solved }}</span>
					<br><span>Решенные задачи: {{ 'Не одной не пройдено' if current_user.tasks_id == '[]' else current_user.tasks_id }}</span>
				</li>
			</ul>
			<!-- <div class="card-body"><a href="#" class="card-link">Card link</a><a href="#" class="card-link">Another link</a></div> -->
			<div class="card-footer text-bg-dark">
				Последний раз был {{ current_user.last_seen }}
			</div>
		</div>
	</main>
{% endblock %}