{% extends 'auth.html' %}

{% block title %}
	<title>{{ response.title }}</title>
	<style type="text/css" media="screen">
		#editor, #run {
			width: 100%;
			height: 36vh;
		}
	</style>
{% endblock %}

{% block main %}
<main style="height: 100vh; background-color: #1b1a5f;">
	{% include 'header.html' %}
	<div class="container-fluid">
		<div class="row row-cols-2 justify-content-end  my-3">
			<!-- Editors -->
			<div class="col-6">
				<div class="card">
					<div class="card-header">Решение</div>
					<div class="card-body p-0">
					  <div id="editor">
		  
					  </div>
					</div>
				</div>
				<br>
				<div class="card">
					<div class="card-header">Пример тестов</div>
					<div class="card-body p-0">
					  <div id="run">
		  
					  </div>
					</div>
				</div>
				<div class="hstack gap-2 mt-1">
					<button id="test" class="btn btn-primary my-3">Test</button>
					<button id="submit" class="btn btn-outline-success my-3">Submit</button>
				  </div>
				<div>
				</div>
			</div>
			<!-- Tabs -->
			<div class="col-5">
				<div class="card" style="height: 100%;">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#task">Задание</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#output">Вывод</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Выберите язык</a>
								<ul class="dropdown-menu">
									{% for i in task.lang %}
										<li><button class="dropdown-item lang" value="{{ i }}">{{ i }}</button></li>
									{% endfor %}
								</ul>
							</li>
							<li class="nav-item">
								<a id="select" class="nav-link">None</a>
							</li>
						</ul>
					</div>
					<!-- Body Tabs -->
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane container active" id="task">
								<p class="h3">{{ task.name }}</p>
								<p class="p">
									{% for i in task.task.split('\n') %}
										{{ i }}<br>
									{% endfor %}
								</p>
							</div>
							<div class="tab-pane container fade" id="output">
								<div id="log" class="">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.0/ace.js" integrity="sha512-j+8iIH/6m3BxfGo+7wDvzgm5/iX68sMpBrMlYnwECIgAuEtyWA2idkuFNpciSAAG0j0bkpQ+gVb0ig9J2lAnog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
	</div>
{% endblock %}